@font-face {
    font-family: "Bebas Neue";
    src: url("/resources/fonts/BebasNeue-Regular.ttf");
}

body {
    margin: 0;
    background-color: cornflowerblue;
/*     background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-smart-robot-arm-advertising-background-backgroundrobotblue-backgrounddark-backgroundlightlight-image_68405.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    
}

#container {
    width: 100%;
    min-width: 380px;
    height: 100vh;
    margin: 0px auto;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-smart-robot-arm-advertising-background-backgroundrobotblue-backgrounddark-backgroundlightlight-image_68405.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
/*     background:#009015; */
/*     background-image: linear-gradient(to bottom right, #009015, #00FF40);  */
}

h1 {
    color: white;
    font-size: 42px;
    text-align: center;
    margin: 0;
    padding: 15px 0 7px;
    text-shadow: 0 3px 3px rgba(0,0,0,0.5);
    font-family: 'Bebas Neue', cursive;
}

#robotHead {
    max-width: 150px;
    max-height: 200px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: 102px;
    filter : hue-rotate(0deg);
}

#robotBody {
    max-height: 200px;
    max-width: 350px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    margin-left: -185px;
    top: 260px;
    filter : hue-rotate(0deg);
}

#robotLeg {
    max-height: 150px;
    max-width: 250px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    margin-left: -105px;
    top: 392px;
    filter : hue-rotate(0deg);
}
#weapon {
    max-height: 150px;
    max-width: 250px;
    object-fit: cover;
    position: absolute;
    left: 20%;
    margin-left: -105px;
    top: 392px;
    filter : hue-rotate(0deg);
}
#companion {
    max-height: 150px;
    max-width: 250px;
    object-fit: cover;
    position: absolute;
    right: 10%;
    margin-left: -105px;
    top: 392px;
    filter : hue-rotate(0deg);
}
/* #robotPart{
    width: 200px
} */
form {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    margin-left: 20px;
}

select {
    margin-left: 7px;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}



















